h2{
    font-size: 30px;

}
p{
    font-size: 20px;
}

.box__detail{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    &--img{
        img{
            max-width: 450px;
        }
    }
    &--description{
        width: 450px;
        text-align: center;
        padding-top: 20px;
    }
}
.box__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}